Part 1: Data Loading & Initial Inspection

In [40]:
#1. Reading Files:
import pandas as pd
import numpy as np
data=pd.read_csv("/content/Mobiles_Dataset.csv")
data.head(5)

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...

In [41]:
data.tail(3)

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
981,Kechaoda A27,"₹1,499",₹975,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
982,Kechaoda A27,"₹1,499",₹930,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
983,Kechaoda A27,"₹1,499",₹967,4.0,"11,022 Ratings",693 Reviews,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [42]:
#Basic Info:
df=pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product Name         984 non-null    object
 1   Actual price         984 non-null    object
 2   Discount price       984 non-null    object
 3   Stars                984 non-null    float64
 4   Rating               984 non-null    object
 5   Reviews              984 non-null    object
 6   RAM (GB)             984 non-null    object
 7   Storage (GB)         984 non-null    object
 8   Display Size (inch)  984 non-null    float64
 9   Camera               908 non-null    object
 10  Description          984 non-null    object
 11  Link                 984 non-null    object
dtypes: float64(2), object(10)
memory usage: 92.4+ KB

In [43]:
df.count()

Product Name           984
Actual price           984
Discount price         984
Stars                  984
Rating                 984
Reviews                984
RAM (GB)               984
Storage (GB)           984
Display Size (inch)    984
Camera                 908
Description            984
Link                   984
dtype: int64

In [44]:
#Descriptive Stats:
df.describe()

            Stars  Display Size (inch)
count  984.000000           984.000000
mean     4.254980             6.043116
std      0.199734             1.581261
min      3.400000             0.660000
25%      4.200000             6.500000
50%      4.300000             6.670000
75%      4.400000             6.720000
max      5.000000             7.820000

In [45]:
#4. Sampling:
df.sample(10)

,Product Name,Actual price,Discount price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
447,"POCO M6 5G (Orion Blue, 256 GB)","₹15,999","₹11,499",4.2,"14,776 Ratings",763 Reviews,8,256,6.74,50MP,8 GB RAM | 256 GB ROM | Expandable Upto 1 TB17...,https://www.flipkart.com/poco-m6-5g-orion-blue...
366,"Motorola G85 5G (Olive Green, 128 GB)","₹20,999","₹17,999",4.5,"9,300 Ratings",537 Reviews,8,128,6.67,50MP + 8MP,8 GB RAM | 128 GB ROM16.94 cm (6.67 inch) Full...,https://www.flipkart.com/motorola-g85-5g-olive...
585,"REDMI A2+ (Classic Black, 64 GB)","₹11,999","₹7,999",4.1,"3,262 Ratings",165 Reviews,4,64,6.52,8MP,4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...,https://www.flipkart.com/redmi-a2-classic-blac...
335,"Motorola e13 (Cosmic Black, 64 GB)","₹9,999","₹5,999",4.0,"11,450 Ratings",912 Reviews,2,64,6.50,13MP,2 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,https://www.flipkart.com/motorola-e13-cosmic-b...
562,"vivo V29e 5G (Artistic Red, 128 GB)","₹31,999","₹25,999",4.4,"19,649 Ratings","1,735 Reviews",8,128,6.78,64MP + 8MP,8 GB RAM | 128 GB ROM17.22 cm (6.78 inch) Full...,https://www.flipkart.com/vivo-v29e-5g-artistic...
524,"Infinix SMART 8 HD (Timber Black, 64 GB)","₹8,999","₹6,999",4.3,810 Ratings,30 Reviews,4,64,6.60,NaN,4 GB RAM | 64 GB ROM | Expandable Upto 2 TB16....,https://www.flipkart.com/infinix-smart-8-hd-ti...
924,"SAMSUNG Galaxy M14 5G (ICY Silver, 128 GB)","₹17,990","₹14,990",4.2,"6,481 Ratings",346 Reviews,4,128,6.60,50MP + 50MP,4 GB RAM | 128 GB ROM | Expandable Upto 128 GB...,https://www.flipkart.com/samsung-galaxy-m14-5g...
499,itel it2175 Pro | 2 inch Big Display | 1200 mA...,"₹1,499","₹1,069",4.1,304 Ratings,9 Reviews,NIL,NIL,2.00,8MP + 0MP,4 MB RAM | 4 MB ROM | Expandable Upto 32 GB5.0...,https://www.flipkart.com/itel-it2175-pro-2-inc...
12,"Motorola G85 5G (Urban Grey, 128 GB)","₹20,999","₹17,999",4.5,"9,300 Ratings",537 Reviews,8,128,6.67,50MP + 8MP,8 GB RAM | 128 GB ROM16.94 cm (6.67 inch) Full...,https://www.flipkart.com/motorola-g85-5g-urban...
44,"POCO X6 5G (Snowstorm White, 256 GB)","₹26,999","₹20,999",4.3,"3,602 Ratings",383 Reviews,12,256,6.67,64MP + 8MP,12 GB RAM | 256 GB ROM16.94 cm (6.67 inch) Dis...,https://www.flipkart.com/poco-x6-5g-snowstorm-...

In [46]:
df.rename(columns={'Actual price':'MRP','Discount price':'Selling_Price'},inplace=True)
df.head(5)

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)","₹79,600","₹65,999",4.6,"44,793 Ratings","2,402 Reviews",NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)","₹19,999","₹11,489",4.0,"1,005 Ratings",41 Reviews,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)","₹16,999","₹12,999",4.0,"1,005 Ratings",41 Reviews,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...

In [47]:
#Part 2: Data Cleaning & Type Conversion

In [48]:
#6. String Processing & astype:
df['MRP']=df['MRP'].astype(str).str.replace('₹','').str.replace(',','').replace('NIL',np.nan).astype(float)
df['MRP']

0      79600.0
1      79600.0
2      79600.0
3      19999.0
4      16999.0
        ...
979     1499.0
980     1499.0
981     1499.0
982     1499.0
983     1499.0
Name: MRP, Length: 984, dtype: float64

In [49]:
df['Selling_Price']=pd.to_numeric(df['Selling_Price'].astype(str).str.replace('₹','').str.replace(',',''),errors='coerce')
df['Selling_Price']

0      65999.0
1      65999.0
2      65999.0
3      11489.0
4      12999.0
        ...
979      967.0
980      975.0
981      975.0
982      930.0
983      967.0
Name: Selling_Price, Length: 984, dtype: float64

In [50]:
df['Rating']=df['Rating'].str.replace('Ratings','', regex=True).str.replace(',','').astype(int)
print(df['Rating'])
df['Reviews']=df['Reviews'].str.replace('Reviews','', regex=True).str.replace(',','').astype(int)
print("\n",df['Reviews'])

0      44793
1      44793
2      44793
3       1005
4       1005
       ...
979    11022
980    11022
981    11022
982    11022
983    11022
Name: Rating, Length: 984, dtype: int64

 0      2402
1      2402
2      2402
3        41
4        41
       ...
979     693
980     693
981     693
982     693
983     693
Name: Reviews, Length: 984, dtype: int64

In [51]:
#7. Handling Missing Data:
df['Camera'].isnull().sum()

np.int64(76)

In [52]:
df['Camera'].fillna(value='Not Specified')

0        48MP + 12MP
1        48MP + 12MP
2        48MP + 12MP
3              50MP
4              50MP
           ...
979      0MP | 0MP
980    Not Specified
981    Not Specified
982      0MP | 0MP
983      0MP | 0MP
Name: Camera, Length: 984, dtype: object

In [53]:
df.dropna(how='any',subset=['Stars'])

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",19999.0,11489.0,4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",16999.0,12999.0,4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Kechaoda A27,1499.0,967.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
980,Kechaoda A27,1499.0,975.0,4.0,11022,693,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
981,Kechaoda A27,1499.0,975.0,4.0,11022,693,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
982,Kechaoda A27,1499.0,930.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
983,Kechaoda A27,1499.0,967.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [54]:
#8. Duplicates:
df.drop_duplicates()

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...
2,"Apple iPhone 15 (Black, 128 GB)",79600.0,65999.0,4.6,44793,2402,NIL,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",19999.0,11489.0,4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",16999.0,12999.0,4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...
...,...,...,...,...,...,...,...,...,...,...,...,...
979,Kechaoda A27,1499.0,967.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
980,Kechaoda A27,1499.0,975.0,4.0,11022,693,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
981,Kechaoda A27,1499.0,975.0,4.0,11022,693,NIL,NIL,0.66,NaN,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
982,Kechaoda A27,1499.0,930.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...
983,Kechaoda A27,1499.0,967.0,4.0,11022,693,NIL,NIL,0.66,0MP | 0MP,32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...,https://www.flipkart.com/kechaoda-a27/p/itmfe3...

In [55]:
#9. Replace:
df['RAM (GB)']=df['RAM (GB)'].str.replace('NIL','np.nan')
df['RAM (GB)']

0      np.nan
1      np.nan
2      np.nan
3           4
4           4
        ...
979    np.nan
980    np.nan
981    np.nan
982    np.nan
983    np.nan
Name: RAM (GB), Length: 984, dtype: object

In [56]:
#Part 3: Selection, Filtering & Querying

In [57]:
#10. loc vs iloc:
a=df.iloc[0:10, 0:3]
print(a)

                                 Product Name      MRP  Selling_Price
0             Apple iPhone 15 (Green, 128 GB)  79600.0        65999.0
1              Apple iPhone 15 (Blue, 128 GB)  79600.0        65999.0
2             Apple iPhone 15 (Black, 128 GB)  79600.0        65999.0
3          OnePlus N20 SE (JADE WAVE, 128 GB)  19999.0        11489.0
4          OnePlus N20 SE (BLUE OASIS, 64 GB)  16999.0        12999.0
5             OnePlus 12R (Cool Blue, 128 GB)  39999.0        38989.0
6  SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)  17490.0        10990.0
7       CMF by Nothing Phone 1 (Blue, 128 GB)  19999.0        15999.0
8       CMF by Nothing Phone 1 (Blue, 128 GB)  21999.0        17999.0
9       vivo Y200e 5G (Black Diamond, 128 GB)  25999.0        20999.0

In [58]:
b=df.loc[df['Product Name'].str.contains('iPhone'),['Product Name', 'Selling_Price']]
print(b)

                                 Product Name  Selling_Price
0             Apple iPhone 15 (Green, 128 GB)        65999.0
1              Apple iPhone 15 (Blue, 128 GB)        65999.0
2             Apple iPhone 15 (Black, 128 GB)        65999.0
28      Apple iPhone 15 Plus (Yellow, 128 GB)        73999.0
156     Apple iPhone 14 Plus (Purple, 512 GB)        86499.0
257    Apple iPhone 14 ((PRODUCT)RED, 128 GB)        59999.0
401       Apple iPhone 14 (Starlight, 128 GB)        59999.0
453  Apple iPhone 14 Plus (Starlight, 128 GB)        56499.0
492           Apple iPhone 15 (Green, 256 GB)        75999.0
493           Apple iPhone 15 (Green, 256 GB)        75999.0
581           Apple iPhone 15 (Black, 256 GB)        75999.0
582           Apple iPhone 15 (Black, 256 GB)        75999.0
583           Apple iPhone 15 (Black, 512 GB)        95999.0
641          Apple iPhone 15 (Yellow, 128 GB)        65999.0
642          Apple iPhone 15 (Yellow, 128 GB)        65999.0
751       Apple iPhone 15 Plus (Pink, 128 GB)        73999.0
752       Apple iPhone 14 Plus (Blue, 128 GB)        56499.0
753       Apple iPhone 14 Plus (Blue, 512 GB)        86499.0
760          Apple iPhone 14 (Purple, 128 GB)        59999.0
796            Apple iPhone 15 (Pink, 128 GB)        66499.0
800   Apple iPhone 14 Plus (Midnight, 128 GB)        56499.0
801   Apple iPhone 14 Plus (Midnight, 512 GB)        86499.0
819        Apple iPhone 14 (Midnight, 128 GB)        59999.0
820        Apple iPhone 14 (Midnight, 128 GB)        59999.0
828      Apple iPhone 15 Plus (Black, 128 GB)        73999.0
846      Apple iPhone 15 Plus (Green, 128 GB)        73999.0
903            Apple iPhone 14 (Blue, 128 GB)        59999.0
921       Apple iPhone 15 Plus (Blue, 128 GB)        73999.0
949           Apple iPhone 13 (Green, 128 GB)        52999.0
950           Apple iPhone 13 (Green, 128 GB)        52999.0
951           Apple iPhone 13 (Green, 128 GB)        52999.0
959        Apple iPhone 13 (Midnight, 128 GB)        52999.0
960       Apple iPhone 13 (Starlight, 128 GB)        52999.0
961            Apple iPhone 13 (Blue, 128 GB)        52999.0
962            Apple iPhone 13 (Blue, 256 GB)        59999.0
963            Apple iPhone 13 (Blue, 256 GB)        59999.0
968            Apple iPhone 12 (Blue, 128 GB)        44999.0
969            Apple iPhone 12 (Black, 64 GB)        38999.0
970           Apple iPhone 12 (Black, 256 GB)        52999.0

In [59]:
#11.Boolean Indexing & isin:
df['RAM (GB)'].isin(['8', '12'])

0      False
1      False
2      False
3      False
4      False
       ...
979    False
980    False
981    False
982    False
983    False
Name: RAM (GB), Length: 984, dtype: bool

In [60]:
(df['Stars'] > 4.5) & (df['Selling_Price'] < 50000)

0      False
1      False
2      False
3      False
4      False
       ...
979    False
980    False
981    False
982    False
983    False
Length: 984, dtype: bool

In [61]:
#12. query:
query=df.query('Product Name == SAMSUNG' and 'Selling_Price > 70000')
print(query)

                                          Product Name       MRP  \
28               Apple iPhone 15 Plus (Yellow, 128 GB)   89600.0
39   SAMSUNG Galaxy S24 Ultra 5G (Titanium Black, 2...  134999.0
114  SAMSUNG Galaxy S24 Ultra 5G (Titanium Violet, ...  134999.0
154  SAMSUNG Galaxy Z Fold6 5G (Silver Shadow, 256 GB)       NaN
155  SAMSUNG Galaxy Z Fold6 5G (Silver Shadow, 512 GB)       NaN
156              Apple iPhone 14 Plus (Purple, 512 GB)  109600.0
169         SAMSUNG Galaxy S24 5G (Onyx Black, 256 GB)       NaN
281       SAMSUNG Galaxy S24 5G (Amber Yellow, 256 GB)       NaN
292        SAMSUNG Galaxy S23 Ultra 5G (Cream, 256 GB)  149999.0
355                OnePlus Open (Emerald Dusk, 512 GB)  149999.0
492                    Apple iPhone 15 (Green, 256 GB)   89600.0
493                    Apple iPhone 15 (Green, 256 GB)   89600.0
508      SAMSUNG Galaxy S24 5G (Cobalt Violet, 512 GB)       NaN
542  SAMSUNG Galaxy Z Flip6 5G (Silver Shadow, 256 GB)       NaN
543  SAMSUNG Galaxy Z Flip6 5G (Silver Shadow, 256 GB)       NaN
581                    Apple iPhone 15 (Black, 256 GB)   89600.0
582                    Apple iPhone 15 (Black, 256 GB)   89600.0
583                    Apple iPhone 15 (Black, 512 GB)  109600.0
636           SAMSUNG Galaxy Z Flip6 5G (Blue, 256 GB)       NaN
640             vivo X100 Pro (Asteroid Black, 512 GB)   96999.0
661                     Google Pixel 8 (Hazel, 256 GB)   82999.0
667               OnePlus Open (Voyager Black, 512 GB)  149999.0
695           SAMSUNG Galaxy Z Fold6 5G (Navy, 256 GB)       NaN
751                Apple iPhone 15 Plus (Pink, 128 GB)   89600.0
753                Apple iPhone 14 Plus (Blue, 512 GB)  109600.0
801            Apple iPhone 14 Plus (Midnight, 512 GB)  109600.0
828               Apple iPhone 15 Plus (Black, 128 GB)   89600.0
846               Apple iPhone 15 Plus (Green, 128 GB)   89600.0
871  SAMSUNG Galaxy S24 Ultra 5G (Titanium Gray, 25...  134999.0
886        SAMSUNG Galaxy S24+ 5G (Onyx Black, 256 GB)       NaN
921                Apple iPhone 15 Plus (Blue, 128 GB)   89600.0

     Selling_Price  Stars  Rating  Reviews RAM (GB) Storage (GB)  \
28         73999.0    4.6    7658      637   np.nan          128
39        129999.0    4.6    1896      244       12          256
114       129999.0    4.6    1896      244       12          256
154       164999.0    4.2      22        2       12          256
155       176999.0    4.2      22        2       12          512
156        86499.0    4.6   76953     4312   np.nan          512
169        79999.0    4.5    1055      135        8          256
281        79999.0    4.5    1055      135        8          256
292       124999.0    4.6    3643      365       12          256
355       124990.0    4.5      41        3       16          512
492        75999.0    4.6   44793     2402   np.nan          256
493        75999.0    4.6   44793     2402   np.nan          256
508        89999.0    4.5    1055      135        8          512
542       109999.0    5.0       8        0       12          256
543       109999.0    5.0       8        0       12          256
581        75999.0    4.6   44793     2402   np.nan          256
582        75999.0    4.6   44793     2402   np.nan          256
583        95999.0    4.6   44793     2402   np.nan          512
636       109999.0    5.0       8        0       12          256
640        89999.0    4.7     588      162       16          512
661        71999.0    4.2    2510      344        8          256
667       118949.0    4.5      41        3       16          512
695       164999.0    4.2      22        2       12          256
751        73999.0    4.6    7658      637   np.nan          128
753        86499.0    4.6   76953     4312   np.nan          512
801        86499.0    4.6   76953     4312   np.nan          512
828        73999.0    4.6    7658      637   np.nan          128
846        73999.0    4.6    7658      637   np.nan          128
871       129999.0    4.6    1896      244       12          256
886        99999.0    4.5     147       18       12          256
921        73999.0    4.6    7658      637   np.nan          128

     Display Size (inch)        Camera  \
28                  6.70   48MP + 12MP
39                  6.80  200MP + 50MP
114                 6.80  200MP + 50MP
154                 7.60   50MP + 12MP
155                 7.60   50MP + 12MP
156                 6.70   12MP + 12MP
169                 6.20   50MP + 10MP
281                 6.20   50MP + 10MP
292                 6.80  200MP + 10MP
355                 7.82         64MP
492                 6.10   48MP + 12MP
493                 6.10   48MP + 12MP
508                 6.20   50MP + 10MP
542                 6.70   50MP + 12MP
543                 6.70   50MP + 12MP
581                 6.10   48MP + 12MP
582                 6.10   48MP + 12MP
583                 6.10   48MP + 12MP
636                 6.70   50MP + 12MP
640                 6.78   50MP + 50MP
661                 6.20   50MP + 12MP
667                 7.82         64MP
695                 7.60   50MP + 12MP
751                 6.70   48MP + 12MP
753                 6.70   12MP + 12MP
801                 6.70   12MP + 12MP
828                 6.70   48MP + 12MP
846                 6.70   48MP + 12MP
871                 6.80  200MP + 50MP
886                 6.70   50MP + 10MP
921                 6.70   48MP + 12MP

                                           Description  \
28   128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
39   12 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Quad...
114  12 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Quad...
154  12 GB RAM | 256 GB ROM19.3 cm (7.6 inch) QXGA+...
155  12 GB RAM | 512 GB ROM19.3 cm (7.6 inch) QXGA+...
156  512 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
169  8 GB RAM | 256 GB ROM15.75 cm (6.2 inch) Full ...
281  8 GB RAM | 256 GB ROM15.75 cm (6.2 inch) Full ...
292  12 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Quad...
355  16 GB RAM | 512 GB ROM19.86 cm (7.82 inch) Dis...
492  256 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
493  256 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
508  8 GB RAM | 512 GB ROM15.75 cm (6.2 inch) Full ...
542  12 GB RAM | 256 GB ROM17.02 cm (6.7 inch) Full...
543  12 GB RAM | 256 GB ROM17.02 cm (6.7 inch) Full...
581  256 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
582  256 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
583  512 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
636  12 GB RAM | 256 GB ROM17.02 cm (6.7 inch) Full...
640  16 GB RAM | 512 GB ROM17.22 cm (6.78 inch) Ful...
661  8 GB RAM | 256 GB ROM15.75 cm (6.2 inch) Full ...
667  16 GB RAM | 512 GB ROM19.86 cm (7.82 inch) Dis...
695  12 GB RAM | 256 GB ROM19.3 cm (7.6 inch) QXGA+...
751  128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
753  512 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
801  512 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
828  128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
846  128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...
871  12 GB RAM | 256 GB ROM17.27 cm (6.8 inch) Quad...
886  12 GB RAM | 256 GB ROM17.02 cm (6.7 inch) Quad...
921  128 GB ROM17.02 cm (6.7 inch) Super Retina XDR...

                                                  Link
28   https://www.flipkart.com/apple-iphone-15-plus-...
39   https://www.flipkart.com/samsung-galaxy-s24-ul...
114  https://www.flipkart.com/samsung-galaxy-s24-ul...
154  https://www.flipkart.com/samsung-galaxy-z-fold...
155  https://www.flipkart.com/samsung-galaxy-z-fold...
156  https://www.flipkart.com/apple-iphone-14-plus-...
169  https://www.flipkart.com/samsung-galaxy-s24-5g...
281  https://www.flipkart.com/samsung-galaxy-s24-5g...
292  https://www.flipkart.com/samsung-galaxy-s23-ul...
355  https://www.flipkart.com/oneplus-open-emerald-...
492  https://www.flipkart.com/apple-iphone-15-green...
493  https://www.flipkart.com/apple-iphone-15-green...
508  https://www.flipkart.com/samsung-galaxy-s24-5g...
542  https://www.flipkart.com/samsung-galaxy-z-flip...
543  https://www.flipkart.com/samsung-galaxy-z-flip...
581  https://www.flipkart.com/apple-iphone-15-black...
582  https://www.flipkart.com/apple-iphone-15-black...
583  https://www.flipkart.com/apple-iphone-15-black...
636  https://www.flipkart.com/samsung-galaxy-z-flip...
640  https://www.flipkart.com/vivo-x100-pro-asteroi...
661  https://www.flipkart.com/google-pixel-8-hazel-...
667  https://www.flipkart.com/oneplus-open-voyager-...
695  https://www.flipkart.com/samsung-galaxy-z-fold...
751  https://www.flipkart.com/apple-iphone-15-plus-...
753  https://www.flipkart.com/apple-iphone-14-plus-...
801  https://www.flipkart.com/apple-iphone-14-plus-...
828  https://www.flipkart.com/apple-iphone-15-plus-...
846  https://www.flipkart.com/apple-iphone-15-plus-...
871  https://www.flipkart.com/samsung-galaxy-s24-ul...
886  https://www.flipkart.com/samsung-galaxy-s24-5g...
921  https://www.flipkart.com/apple-iphone-15-plus-...

In [62]:
#13. where:
where=df.where(df['Selling_Price'] > 20000, 0)
print(where)

                        Product Name      MRP  Selling_Price  Stars  Rating  \
0    Apple iPhone 15 (Green, 128 GB)  79600.0        65999.0    4.6   44793
1     Apple iPhone 15 (Blue, 128 GB)  79600.0        65999.0    4.6   44793
2    Apple iPhone 15 (Black, 128 GB)  79600.0        65999.0    4.6   44793
3                                  0      0.0            0.0    0.0       0
4                                  0      0.0            0.0    0.0       0
..                               ...      ...            ...    ...     ...
979                                0      0.0            0.0    0.0       0
980                                0      0.0            0.0    0.0       0
981                                0      0.0            0.0    0.0       0
982                                0      0.0            0.0    0.0       0
983                                0      0.0            0.0    0.0       0

     Reviews RAM (GB) Storage (GB)  Display Size (inch)       Camera  \
0       2402   np.nan          128                  6.1  48MP + 12MP
1       2402   np.nan          128                  6.1  48MP + 12MP
2       2402   np.nan          128                  6.1  48MP + 12MP
3          0        0            0                  0.0            0
4          0        0            0                  0.0            0
..       ...      ...          ...                  ...          ...
979        0        0            0                  0.0            0
980        0        0            0                  0.0            0
981        0        0            0                  0.0            0
982        0        0            0                  0.0            0
983        0        0            0                  0.0            0

                                           Description  \
0    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
1    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
2    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
3                                                    0
4                                                    0
..                                                 ...
979                                                  0
980                                                  0
981                                                  0
982                                                  0
983                                                  0

                                                  Link
0    https://www.flipkart.com/apple-iphone-15-green...
1    https://www.flipkart.com/apple-iphone-15-blue-...
2    https://www.flipkart.com/apple-iphone-15-black...
3                                                    0
4                                                    0
..                                                 ...
979                                                  0
980                                                  0
981                                                  0
982                                                  0
983                                                  0

[984 rows x 12 columns]

In [63]:
#Part 4: Advanced Series & String Operations

In [64]:
#14. value_counts & unique:
a=df['Product Name'].nunique()
print(a)
b=df['Product Name'].value_counts()
print(b)

657
Product Name
OPPO K12x 5G with 45W SUPERVOOC Charger In-The-Box (Breeze Blue, 256 GB)    31
Nokia 105 Single SIM, Keypad Mobile Phone with Wireless FM Radio             7
Kechaoda A27                                                                 6
itel it5330 | 2.8 inch Big Display | 1900 mAh Battery | Kingvoice            6
REDMI 13C (Stardust Black, 128 GB)                                           5
                                                                            ..
MOTOROLA G04 (Sunrise Orange, 64 GB)                                         1
Motorola g64 5G (Ice Lilac, 256 GB)                                          1
Motorola g04s (Satin Blue, 64 GB)                                            1
OPPO F25 Pro 5G (Ocean Blue, 128 GB)                                         1
OnePlus 12R (Cool Blue, 128 GB)                                              1
Name: count, Length: 657, dtype: int64

In [65]:
#15. map:
df['Price_Category'] = pd.cut(df['Stars'],bins=[1,3,4,5],labels=['Budget','Mid-Range','Premium'])
df.head(10)

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium
2,"Apple iPhone 15 (Black, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...,Premium
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",19999.0,11489.0,4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...,Mid-Range
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",16999.0,12999.0,4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...,Mid-Range
5,"OnePlus 12R (Cool Blue, 128 GB)",39999.0,38989.0,4.5,4278,292,8,128,6.78,50MP,8 GB RAM | 128 GB ROM17.22 cm (6.78 inch) Disp...,https://www.flipkart.com/oneplus-12r-cool-blue...,Premium
6,"SAMSUNG Galaxy F14 5G (GOAT Green, 128 GB)",17490.0,10990.0,4.2,45538,2989,4,128,6.60,50MP + 2MP,4 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,https://www.flipkart.com/samsung-galaxy-f14-5g...,Premium
7,"CMF by Nothing Phone 1 (Blue, 128 GB)",19999.0,15999.0,4.4,8057,701,6,128,6.67,50MP + 2MP,6 GB RAM | 128 GB ROM | Expandable Upto 2 TB16...,https://www.flipkart.com/cmf-nothing-phone-1-b...,Premium
8,"CMF by Nothing Phone 1 (Blue, 128 GB)",21999.0,17999.0,4.3,2355,181,8,128,6.67,50MP + 2MP,8 GB RAM | 128 GB ROM | Expandable Upto 2 TB16...,https://www.flipkart.com/cmf-nothing-phone-1-b...,Premium
9,"vivo Y200e 5G (Black Diamond, 128 GB)",25999.0,20999.0,4.3,687,36,8,128,6.67,50MP + 2MP,8 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,https://www.flipkart.com/vivo-y200e-5g-black-d...,Premium

In [66]:
#16. apply & assign:
Discount_Percentage=df.apply(lambda x:((x['MRP'] -x['Selling_Price'])/x['MRP'])*100,axis=1)
print(Discount_Percentage)

0      17.086683
1      17.086683
2      17.086683
3      42.552128
4      23.530796
         ...
979    35.490327
980    34.956638
981    34.956638
982    37.958639
983    35.490327
Length: 984, dtype: float64

In [67]:
#17. std & mean:
std= df['Selling_Price'].std()
print(std)
mean= df['Selling_Price'].mean()
print(mean)

20843.490673786677
21524.401020408164

In [68]:
#Part 5: Grouping & Aggregation

In [69]:
#18. groupby & agg:
group=df.groupby('Product Name')
print(group[['Selling_Price','Stars']].agg(np.mean))

                                        Selling_Price  Stars
Product Name
Apple iPhone 12 (Black, 256 GB)               52999.0  4.600
Apple iPhone 12 (Black, 64 GB)                38999.0  4.600
Apple iPhone 12 (Blue, 128 GB)                44999.0  4.600
Apple iPhone 13 (Blue, 128 GB)                52999.0  4.600
Apple iPhone 13 (Blue, 256 GB)                59999.0  4.600
...                                               ...    ...
vivo Y27 (Sea Blue, 128 GB)                   13999.0  4.200
vivo Y28 5G (Crystal Purple, 128 GB)          15499.0  4.275
vivo Y28 5G (Glitter Aqua, 128 GB)            16999.0  4.300
vivo Y58 5G (Himalayan Blue, 128 GB)          19499.0  4.500
vivo Y58 5G (Sundarbans Green, 128 GB)        19499.0  4.500

[657 rows x 2 columns]

/tmp/ipython-input-2330710915.py:3: FutureWarning: The provided callable <function mean at 0x78f07e5ecc20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(group[['Selling_Price','Stars']].agg(np.mean))

In [70]:
print(group[['Selling_Price','Stars']].agg(np.sum))

                                        Selling_Price  Stars
Product Name
Apple iPhone 12 (Black, 256 GB)               52999.0    4.6
Apple iPhone 12 (Black, 64 GB)                38999.0    4.6
Apple iPhone 12 (Blue, 128 GB)                44999.0    4.6
Apple iPhone 13 (Blue, 128 GB)                52999.0    4.6
Apple iPhone 13 (Blue, 256 GB)               119998.0    9.2
...                                               ...    ...
vivo Y27 (Sea Blue, 128 GB)                   13999.0    4.2
vivo Y28 5G (Crystal Purple, 128 GB)          61996.0   17.1
vivo Y28 5G (Glitter Aqua, 128 GB)            16999.0    4.3
vivo Y58 5G (Himalayan Blue, 128 GB)          19499.0    4.5
vivo Y58 5G (Sundarbans Green, 128 GB)        19499.0    4.5

[657 rows x 2 columns]

/tmp/ipython-input-3878673499.py:1: FutureWarning: The provided callable <function sum at 0x78f07e5c3b00> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(group[['Selling_Price','Stars']].agg(np.sum))

In [71]:
print(group[['Selling_Price','Stars']].agg(np.std))

                                        Selling_Price  Stars
Product Name
Apple iPhone 12 (Black, 256 GB)                   NaN    NaN
Apple iPhone 12 (Black, 64 GB)                    NaN    NaN
Apple iPhone 12 (Blue, 128 GB)                    NaN    NaN
Apple iPhone 13 (Blue, 128 GB)                    NaN    NaN
Apple iPhone 13 (Blue, 256 GB)               0.000000   0.00
...                                               ...    ...
vivo Y27 (Sea Blue, 128 GB)                       NaN    NaN
vivo Y28 5G (Crystal Purple, 128 GB)      1224.744871   0.05
vivo Y28 5G (Glitter Aqua, 128 GB)                NaN    NaN
vivo Y58 5G (Himalayan Blue, 128 GB)              NaN    NaN
vivo Y58 5G (Sundarbans Green, 128 GB)            NaN    NaN

[657 rows x 2 columns]

/tmp/ipython-input-4218300514.py:1: FutureWarning: The provided callable <function std at 0x78f07e5ecd60> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  print(group[['Selling_Price','Stars']].agg(np.std))

In [72]:
#19.transform:
df['Average_Brand']=df.groupby('Product Name')['Selling_Price'].transform(np.mean)
df.head(2)

/tmp/ipython-input-1468461051.py:2: FutureWarning: The provided callable <function mean at 0x78f07e5ecc20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['Average_Brand']=df.groupby('Product Name')['Selling_Price'].transform(np.mean)

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category,Average_Brand
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium,65999.0
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium,65999.0

In [73]:
#20. pivot_table:
pivot = pd.pivot_table(df,values='Stars',index='Product Name',columns='RAM (GB)',aggfunc=np.mean)
print(pivot)

/tmp/ipython-input-1555149178.py:2: FutureWarning: The provided callable <function mean at 0x78f07e5ecc20> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot = pd.pivot_table(df,values='Stars',index='Product Name',columns='RAM (GB)',aggfunc=np.mean)

RAM (GB)                                12  16   2   3  32    4  46875    6  \
Product Name
Apple iPhone 12 (Black, 256 GB)        NaN NaN NaN NaN NaN  NaN    NaN  NaN
Apple iPhone 12 (Black, 64 GB)         NaN NaN NaN NaN NaN  NaN    NaN  NaN
Apple iPhone 12 (Blue, 128 GB)         NaN NaN NaN NaN NaN  NaN    NaN  NaN
Apple iPhone 13 (Blue, 128 GB)         NaN NaN NaN NaN NaN  NaN    NaN  NaN
Apple iPhone 13 (Blue, 256 GB)         NaN NaN NaN NaN NaN  NaN    NaN  NaN
...                                     ..  ..  ..  ..  ..  ...    ...  ...
vivo Y27 (Sea Blue, 128 GB)            NaN NaN NaN NaN NaN  NaN    NaN  4.2
vivo Y28 5G (Crystal Purple, 128 GB)   NaN NaN NaN NaN NaN  4.2    NaN  4.3
vivo Y28 5G (Glitter Aqua, 128 GB)     NaN NaN NaN NaN NaN  NaN    NaN  NaN
vivo Y58 5G (Himalayan Blue, 128 GB)   NaN NaN NaN NaN NaN  NaN    NaN  NaN
vivo Y58 5G (Sundarbans Green, 128 GB) NaN NaN NaN NaN NaN  NaN    NaN  NaN

RAM (GB)                                  8  np.nan
Product Name
Apple iPhone 12 (Black, 256 GB)         NaN     4.6
Apple iPhone 12 (Black, 64 GB)          NaN     4.6
Apple iPhone 12 (Blue, 128 GB)          NaN     4.6
Apple iPhone 13 (Blue, 128 GB)          NaN     4.6
Apple iPhone 13 (Blue, 256 GB)          NaN     4.6
...                                     ...     ...
vivo Y27 (Sea Blue, 128 GB)             NaN     NaN
vivo Y28 5G (Crystal Purple, 128 GB)    4.3     NaN
vivo Y28 5G (Glitter Aqua, 128 GB)      4.3     NaN
vivo Y58 5G (Himalayan Blue, 128 GB)    4.5     NaN
vivo Y58 5G (Sundarbans Green, 128 GB)  4.5     NaN

[657 rows x 10 columns]

In [74]:
#21. crosstab / count:
s= df.groupby('Product Name')['Storage (GB)'].count()
print(s)

Product Name
Apple iPhone 12 (Black, 256 GB)           1
Apple iPhone 12 (Black, 64 GB)            1
Apple iPhone 12 (Blue, 128 GB)            1
Apple iPhone 13 (Blue, 128 GB)            1
Apple iPhone 13 (Blue, 256 GB)            2
                                         ..
vivo Y27 (Sea Blue, 128 GB)               1
vivo Y28 5G (Crystal Purple, 128 GB)      4
vivo Y28 5G (Glitter Aqua, 128 GB)        1
vivo Y58 5G (Himalayan Blue, 128 GB)      1
vivo Y58 5G (Sundarbans Green, 128 GB)    1
Name: Storage (GB), Length: 657, dtype: int64

In [75]:
#Part 6: Reshaping & Combining

In [76]:
#22.transpose & melt:
s=df.describe()
a=s.transpose()
print(a)

                     count          mean           std      min       25%  \
MRP                  930.0  25263.134409  22257.240721  1199.00  11999.00
Selling_Price        980.0  21524.401020  20843.490674   809.00   8999.00
Stars                984.0      4.254980      0.199734     3.40      4.20
Rating               984.0  23131.726626  54346.574179     4.00    660.75
Reviews              984.0   1459.618902   3017.953757     0.00     37.00
Display Size (inch)  984.0      6.043116      1.581261     0.66      6.50
Average_Brand        982.0  21501.173184  20824.915869   809.00   8999.00

                          50%       75%        max
MRP                  19999.00  30999.00  149999.00
Selling_Price        15999.00  27444.00  176999.00
Stars                    4.30      4.40       5.00
Rating                5124.50  17216.00  429459.00
Reviews                342.00   1414.00   23258.00
Display Size (inch)      6.67      6.72       7.82
Average_Brand        15999.00  26999.00  176999.00

In [77]:
pd.melt(df,id_vars=['Product Name'],value_vars=['MRP','Selling_Price'])

                            Product Name       variable    value
0        Apple iPhone 15 (Green, 128 GB)            MRP  79600.0
1         Apple iPhone 15 (Blue, 128 GB)            MRP  79600.0
2        Apple iPhone 15 (Black, 128 GB)            MRP  79600.0
3     OnePlus N20 SE (JADE WAVE, 128 GB)            MRP  19999.0
4     OnePlus N20 SE (BLUE OASIS, 64 GB)            MRP  16999.0
...                                  ...            ...      ...
1963                        Kechaoda A27  Selling_Price    967.0
1964                        Kechaoda A27  Selling_Price    975.0
1965                        Kechaoda A27  Selling_Price    975.0
1966                        Kechaoda A27  Selling_Price    930.0
1967                        Kechaoda A27  Selling_Price    967.0

[1968 rows x 3 columns]

In [78]:
#23. concat & merge:
a=df[:500]
b=df[500:]
c=pd.concat([a,b])
print(c)

                           Product Name      MRP  Selling_Price  Stars  \
0       Apple iPhone 15 (Green, 128 GB)  79600.0        65999.0    4.6
1        Apple iPhone 15 (Blue, 128 GB)  79600.0        65999.0    4.6
2       Apple iPhone 15 (Black, 128 GB)  79600.0        65999.0    4.6
3    OnePlus N20 SE (JADE WAVE, 128 GB)  19999.0        11489.0    4.0
4    OnePlus N20 SE (BLUE OASIS, 64 GB)  16999.0        12999.0    4.0
..                                  ...      ...            ...    ...
979                        Kechaoda A27   1499.0          967.0    4.0
980                        Kechaoda A27   1499.0          975.0    4.0
981                        Kechaoda A27   1499.0          975.0    4.0
982                        Kechaoda A27   1499.0          930.0    4.0
983                        Kechaoda A27   1499.0          967.0    4.0

     Rating  Reviews RAM (GB) Storage (GB)  Display Size (inch)       Camera  \
0     44793     2402   np.nan          128                 6.10  48MP + 12MP
1     44793     2402   np.nan          128                 6.10  48MP + 12MP
2     44793     2402   np.nan          128                 6.10  48MP + 12MP
3      1005       41        4          128                 6.56        50MP
4      1005       41        4           64                 6.56        50MP
..      ...      ...      ...          ...                  ...          ...
979   11022      693   np.nan          NIL                 0.66  0MP | 0MP
980   11022      693   np.nan          NIL                 0.66          NaN
981   11022      693   np.nan          NIL                 0.66          NaN
982   11022      693   np.nan          NIL                 0.66  0MP | 0MP
983   11022      693   np.nan          NIL                 0.66  0MP | 0MP

                                           Description  \
0    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
1    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
2    128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
3    4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...
4    4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...
..                                                 ...
979  32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...
980  32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...
981  32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...
982  32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...
983  32 MB RAM | 32 MB ROM | Expandable Upto 16 GB1...

                                                  Link Price_Category  \
0    https://www.flipkart.com/apple-iphone-15-green...        Premium
1    https://www.flipkart.com/apple-iphone-15-blue-...        Premium
2    https://www.flipkart.com/apple-iphone-15-black...        Premium
3    https://www.flipkart.com/oneplus-n20-se-jade-w...      Mid-Range
4    https://www.flipkart.com/oneplus-n20-se-blue-o...      Mid-Range
..                                                 ...            ...
979  https://www.flipkart.com/kechaoda-a27/p/itmfe3...      Mid-Range
980  https://www.flipkart.com/kechaoda-a27/p/itmfe3...      Mid-Range
981  https://www.flipkart.com/kechaoda-a27/p/itmfe3...      Mid-Range
982  https://www.flipkart.com/kechaoda-a27/p/itmfe3...      Mid-Range
983  https://www.flipkart.com/kechaoda-a27/p/itmfe3...      Mid-Range

     Average_Brand
0          65999.0
1          65999.0
2          65999.0
3          11489.0
4          12999.0
..             ...
979          963.5
980          963.5
981          963.5
982          963.5
983          963.5

[984 rows x 14 columns]

In [79]:
dummy=pd.DataFrame({'Product Name':['apple','samsung','oneplus'],
                    'Country_of_origin':['India','Japan','us']})
print(pd.merge(df,dummy,on='Product Name'))

Empty DataFrame
Columns: [Product Name, MRP, Selling_Price, Stars, Rating, Reviews, RAM (GB), Storage (GB), Display Size (inch), Camera, Description, Link, Price_Category, Average_Brand, Country_of_origin]
Index: []

In [80]:
df['Launch_Date'] = pd.date_range(start='2023-01-01',periods=len(df),freq='D')
print(df['Launch_Date'] )

0     2023-01-01
1     2023-01-02
2     2023-01-03
3     2023-01-04
4     2023-01-05
         ...
979   2025-09-06
980   2025-09-07
981   2025-09-08
982   2025-09-09
983   2025-09-10
Name: Launch_Date, Length: 984, dtype: datetime64[ns]

In [81]:
#24. shift:
df['Previous_Row'] = df['Selling_Price'].shift(1)
df.head()

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category,Average_Brand,Launch_Date,Previous_Row
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium,65999.0,2023-01-01,NaN
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium,65999.0,2023-01-02,65999.0
2,"Apple iPhone 15 (Black, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...,Premium,65999.0,2023-01-03,65999.0
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",19999.0,11489.0,4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...,Mid-Range,11489.0,2023-01-04,65999.0
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",16999.0,12999.0,4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...,Mid-Range,12999.0,2023-01-05,11489.0

In [82]:
#Part 7: Time Series & Numpy

In [83]:
#25. Date Creation:
df['Launch_Date']=pd.date_range('2023-01-01',periods=len(df))
df.head()

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category,Average_Brand,Launch_Date,Previous_Row
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium,65999.0,2023-01-01,NaN
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium,65999.0,2023-01-02,65999.0
2,"Apple iPhone 15 (Black, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.10,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-black...,Premium,65999.0,2023-01-03,65999.0
3,"OnePlus N20 SE (JADE WAVE, 128 GB)",19999.0,11489.0,4.0,1005,41,4,128,6.56,50MP,4 GB RAM | 128 GB ROM16.66 cm (6.56 inch) Disp...,https://www.flipkart.com/oneplus-n20-se-jade-w...,Mid-Range,11489.0,2023-01-04,65999.0
4,"OnePlus N20 SE (BLUE OASIS, 64 GB)",16999.0,12999.0,4.0,1005,41,4,64,6.56,50MP,4 GB RAM | 64 GB ROM16.66 cm (6.56 inch) Displ...,https://www.flipkart.com/oneplus-n20-se-blue-o...,Mid-Range,12999.0,2023-01-05,11489.0

In [84]:
#26. dt Accessors:
df['Year'] = df['Launch_Date'].dt.year
df['Month'] = df['Launch_Date'].dt.month_name()
df['Day'] = df['Launch_Date'].dt.day_name()
df.head(2)

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category,Average_Brand,Launch_Date,Previous_Row,Year,Month,Day
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium,65999.0,2023-01-01,NaN,2023,January,Sunday
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium,65999.0,2023-01-02,65999.0,2023,January,Monday

In [85]:
#27. Time Periods:
df['Launch_Date']=df['Launch_Date'].dt.to_period('M')
df.head(2)

,Product Name,MRP,Selling_Price,Stars,Rating,Reviews,RAM (GB),Storage (GB),Display Size (inch),Camera,Description,Link,Price_Category,Average_Brand,Launch_Date,Previous_Row,Year,Month,Day
0,"Apple iPhone 15 (Green, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-green...,Premium,65999.0,2023-01,NaN,2023,January,Sunday
1,"Apple iPhone 15 (Blue, 128 GB)",79600.0,65999.0,4.6,44793,2402,np.nan,128,6.1,48MP + 12MP,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,https://www.flipkart.com/apple-iphone-15-blue-...,Premium,65999.0,2023-01,65999.0,2023,January,Monday

In [87]:
#28. Numpy Integration:
df['Selling_Price'].to_numpy()
percentile= np.percentile(df['Selling_Price'], 75)
print(percentile)

nan